<form method="post" action="{{ path('app_frais_forfait_delete', {'id': frais_forfait.id}) }}" onsubmit="return confirm('Voulez vous effacer ces frais hors forfaits ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ frais_forfait.id) }}">
    <button class="btn">Supprimer</button>
</form>
