{% extends 'base.html.twig' %}

{% block title %}Edit Etat{% endblock %}

{% block body %}
    <h1>Modifier l'etat</h1>

    {{ include('etat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_etat_index') }}">Retourner à la liste</a>

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
