{% extends 'base.html.twig' %}

{% block title %}New Etat{% endblock %}

{% block body %}
    <h1>Créer un nouvel Etat</h1>

    {{ include('etat/_form.html.twig') }}

    <a href="{{ path('app_etat_index') }}">Retourner à la liste</a>
{% endblock %}
